@mixin flex_between {
    display: flex;
    justify-content: space-between;
    
}

@mixin flex_between_row {
    @include flex_between;
    flex-direction: row;
}

@mixin flex_between_column {
    @include flex_between;
    flex-direction: column;
    
}

@mixin wh($width,$height) {
    width: $width;
    height: $height;
}

@mixin text-style($font, $color, $height, $size){
    font-family: $font;
	color: $color;
	line-height: $height;
	font-size: $size;
}