$var1: #cccccc;
$var2: #000000;
$var3: #6244bb;
$var4: #412d7b;
@import "mixins";

.planning {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	&__name {
		font-size: 2rem;
		line-height: 1.25;
		margin-bottom: 0;
		font-weight: 600;
		font-family: "Open Sans";
		margin-bottom: 32px;
        @media(max-width:768px){
            font-size: 1.5rem;
            line-height: 1.33;
        }
	}
	&__info {
		width: 1150px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
        @media(max-width:1180px){  
			@include wh(100%, auto);
        }
        @media(max-width:768px){
            flex-direction: column;
            align-items: center;
        }
		&_block {
			@include wh(360px, 390px);
			display: flex;
			flex-direction: column;
			border: 1px solid $var1;
			border-radius: 4px;
            @media(max-width:1180px){ 
				@include wh(31%, auto);   
            }
            @media(max-width:768px){    
                width: 92%;
                margin-bottom: 20px;
            }
		}
	}
}
.block-img {
	@include wh(360px, 203px);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
    @media(max-width:1180px){    
		@include wh(100%, 100%);
    }
    @media(max-width:768px){
        height: auto;
    }
    
}
.block-name {
	width: 328px;
	padding: 16px 16px 16px 16px;
	@include text-style("Open Sans",$var2, 2rem,1.5rem);
	font-weight: 600;
    @media(max-width:1180px){    
        width: 90%;
        height: max-content;
        padding-right: 0;
        margin-bottom: auto;;
    }
}
.block-text {
	width: 328px;
	padding: 0px 16px 16px 16px;
	font-size: 1rem;
	color: inherit;
	font-family: "Open Sans";
    @media(max-width:1180px){    
		@include wh(90%,107px);
        padding-right: 0;
        margin-top: auto;
    }
    @media(max-width:768px){    
		@include wh(92%,auto);
        min-height: 30px;
        max-height: auto;
    }
}
.block-btn {
	@include text-style("Open Sans",$var3, 1.5, 1rem);
	width: 52.28px;
	padding: 12px 40px 12px 40px;
	border: 2px solid $var3 ;
	border-radius: 4px;
	margin-left: 16px;
    @media(max-width:1180px){    
        margin-bottom: 15px;
    }
	&:hover {
		color: $var4;
		border: 2px solid $var4;
	}
}